 * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: rgb(42, 52, 61);
    font-family: Arial;
}

.alertmessage {
    color: rgb(255, 196, 48);
}

#delete_blocker_panel {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 196, 48, 0.5);
    z-index: 100;
}

#delete_blocker_panel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.directory:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 195, 48);
}

div.progressBar-container {
    position: sticky;
    top: 1%;
    height: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: inherit;
    border: 1px solid rgb(255, 195, 48);
}

#progress-percentage {
    position: absolute;
    margin: 0;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 0;
    z-index: 1;
    text-shadow: 1px 1px rgb(42, 52, 61);
}

div#progressBar {
    position: absolute;
    top: 0;
    margin: 0;
    background-color: rgb(255, 195, 48);
    height: 100%;
    width: 0%;
}

div#fileuploader {
    padding: 1%;
    color: white;
    background-color: rgb(69, 78, 87);
}

div.directoryDisplayer {
    color: white;
    border-bottom: 1px solid rgb(255, 195, 48);
}

div.header-buttons {
    width: 100%;
    height: 32px;
}

div.header-buttons * {
    float: right;
    cursor: pointer;
}

div.file {
    margin: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: justify;
    vertical-align: middle;
}

div.file span.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.file img {
    vertical-align: middle;
}

div.file:hover {
    background-color: rgba(173, 216, 230, 0.300);
}

#loadinggif {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    transform: translate(-50%, -50%);
}

#fileholder {
    overflow: auto;
}

#emptyFolderBackground {
    position: fixed;
    width: 199px;
    height: 151px;
    bottom: 0;
    display: none;

    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 
#emptyFolderBackground img {
    display: block;
    margin: auto;
} */

#selector {
    display: none;
    position: fixed;
    background-color: rgba(255, 195, 48, 0.25);
    border: 1px solid rgb(255, 195, 48);
}