body {
    margin: 1%;
    background-color: rgb(42, 52, 61);
    font-family: Arial;
}

div.progressBar {
    padding: 1%;
    border: black;
}

div#progressBar {
    margin: 0;
    background-color: rgb(0, 255, 170);
    height: 10px;
    width: 0%;  /* for start */
}

div#fileuploader {
    padding: 1%;
    color: white;
    background-color: rgb(69, 78, 87);
}

table.fileproperties {
    width: 100%;
    background-color: #e4e4e4;
    border-collapse: collapse;
}

table.fileproperties th, table.fileproperties td {
    padding: 8px;
}

table.fileproperties tr:nth-child(even) {
    background-color: #a0a0a0;
}

table.fileproperties tr:nth-child(odd) {
    background-color: #868686;
}

table.fileproperties tr:hover {
    background-color: rgba(170, 239, 248, 0.5);
}

table.fileproperties th {
    padding: 8px;
    text-align: left;
    background-color: rgb(69, 78, 87);
    color: white;
}

table.fileproperties td a {
    text-decoration: none;
}

table.fileproperties td a:hover, table.fileproperties td a:link, table.fileproperties td a:visited, table.fileproperties td a:active {
    text-decoration: none;
    color: black;
}

#loadinggif {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    transform: translate(-50%, -50%);
}