<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mohammad Fathi">

    <title>Share Center</title>
    <link rel="shortcut icon" type="image/png" href="/public/img/fav-icon.ico" />

    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/mediaPlayer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/fileExtensions.css" />

    <script src="/public/js/libs/jquery-3.5.1.min.js"></script>
    <script src="/public/js/getfilelist.js"></script>
    <script src="/public/js/mediaPlayer.js"></script>
    <script src="/public/js/folderCreate.js"></script>
    <script src="/public/js/uploader.js"></script>
    <script src="/public/js/deletefile.js"></script>
    <script src="/public/js/fileselector.js"></script>
    <script src="/public/js/starter.js"></script>
</head>

<body>
    <!-- <div id="delete_blocker_panel">
        <img src="/img/remove.gif">
    </div> -->

    <div id="musicPlayerContainer">
        <div id="closeMusicPlayer">X</div>
        <div id="minimizeMusicPlayer">-</div>
        <div id="maximizeMusicPlayer"><img src="/public/img/audioPlayerMaximize.png" width="100%"></div>

        <div id="musicPlayer">
            <audio id="audioPlayer" controls controlsList="nodownload"></audio>
        </div>
    </div>

    <div id="moviePlayerContainer" data-windowState="max">
        <div id="movieTitle">movie title.mp4</div>
        <div id="closeMoviePlayer">X</div>
        <div id="minimizeMoviePlayer">-</div>
        <!-- <div id="maximizeMoviePlayer"><img src="/public/img/audioPlayerMaximize.png" width="100%"></div> -->

        <div id="moviePlayer">
            <video id="videoPlayer" controls controlsList="nodownload">
                <source src="files/vid.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div id="fileuploader">
        <form id="form_fileUpload" method="POST" action="/?type=file" enctype="multipart/form-data">
            <input type="file" name="file" multiple> <!-- required -->
            <input type="button" name="uploadbutton" onclick="uploadToServer(
                document.getElementById('form_fileUpload'),
                'progress',
                'refreshButton',
                document.getElementById('progressBar'),
                document.getElementById('progress-percentage'),
                'fileholder',
                'loadinggif',
                'directoryDisplayer',
                'emptyFolderBackground')" value="Upload">
        </form>
        <div id="progress" class="progressBar-container">
            <p id="progress-percentage">0%</p>
            <div id="progressBar"></div>
        </div>
    </div>


    <div><img id="loadinggif" src="/public/img/loading.gif" alt="Loading Files..."></div>

    <div class="header-buttons">
        <div id="newFolderCreator" title="New Folder">
            <img src="/public/img/new-folder.png">
        </div>
        <div id="refreshButton" title="Refresh">
            <img src="/public/img/refresh-icon.png">
        </div>
    </div>

    <div id="directoryDisplayer" class="directoryDisplayer"></div>

    <!-- files will be listed here -->
    <div id="fileholder"></div>

    <div id="emptyFolderBackground">
        <img src="/public/img/emptyfolder.png" width="199" height="151">
    </div>

    <div id="selector"></div>
</body>

</html>