<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Share Center</title>
    <link rel="shortcut icon" type="image/png" href="/public/img/fav-icon.ico" />
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="formContainer">
        <h2>Share Center User Authentication</h2>
        <div class="login-form">
            <form action="auth" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit">
            </form>
        </div>
    </div>
</body>

</html>