@font-face {
    font-family: vazir;
    src: url(/public/fonts/Vazir.ttf);
}

* {
    font-family: vazir;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: rgb(42, 52, 61);
    min-height: calc(100vh - 16px);
}

.unselectable {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

[data-type="folder"] {
    cursor: pointer;
}

.alertmessage {
    color: rgb(255, 196, 48);
}

#delete_blocker_panel {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 196, 48, 0.5);
    z-index: 100;
}

#delete_blocker_panel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.directory:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 195, 48);
}

.progressBar-container {
    position: relative;
    height: 20px;
    margin-top: 1%;
    border: 1px solid rgb(255, 195, 48);
}

#progress-percentage {
    position: absolute;
    font-size: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    z-index: 2;
    text-shadow: 1px 1px rgb(42, 52, 61);
}

#progressBar {
    position: absolute;
    margin: 0;
    background-color: rgb(255, 195, 48);
    height: 100%;
    width: 0%;
    transition: all 0.25s;
}

#fileuploader {
    padding: 1%;
    border: 2px dashed rgb(255, 195, 48);
    color: white;
    background-color: rgb(69, 78, 87);
}

.directoryDisplayer {
    color: white;
    border-bottom: 1px solid rgb(255, 195, 48);
}

.header-buttons {
    margin-top: 10px;
    width: 100%;
    height: 32px;
}

.header-buttons * {
    float: right;
    cursor: pointer;
    margin-left: 3px;
}

.file {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    text-align: justify;
}

.file td:nth-child(2) {
    width: calc(100% - 32px);
}

.file:hover {
    background-color: rgba(173, 216, 230, 0.300);
}

.file * {
    vertical-align: middle;
}

#loadinggif {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    transform: translate(-50%, -50%);
}

#fileholder {
    /* overflow: auto; */
    width: 100%;
}

#emptyFolderBackground {
    position: fixed;
    width: 199px;
    height: 151px;
    bottom: 0;
    display: none;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
#emptyFolderBackground img {
display: block;
margin: auto;
} */

#selector {
    display: none;
    position: fixed;
    background-color: rgba(255, 195, 48, 0.25);
    border: 1px solid rgb(255, 195, 48);
}